<nav>
  <div class="nav__logo">MyIntern</div>
  <ul class="nav__links">
    <li class="link"><a href="#header">Home</a></li>
    <li class="link"><a href="#interface">Interface</a></li>
    <li class="link"><a href="#faculty">Faculty</a></li>
    <li class="link"><a href="#about">About</a></li>

  </ul>
  <button class="btn">Login</button>
</nav>
<header id="header">
  <div class="section__container header__container">
    <div class="header__image">
      <img src="assets/images/1.png" alt="header" />
      <img src="assets/images/APPLOGO.png" alt="header" />
    </div>
    <div class="header__content">
      <div>
        <p class="sub__header">Apply Now</p>
        <h1>Your Gateway to<br />OJT Opportunities</h1>
        <p class="section__subtitle">
          MyIntern helps students of Gordon College find and apply for the best OJT companies. Start your professional journey with ease and confidence.
        </p>
        <div class="action__btns">
          <button class="btn">Login Now</button>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="interface" class="section__container interface__container">
  <div class="section__header">
    <div>
      <h2 class="section__title">Explore the Interface!</h2>
      <p class="section__subtitle">
        Look and see the UI of our Web Application.
      </p>
    </div>
    <div class="interface__nav">
      <span><i class="ri-arrow-left-s-line"></i></span>
      <span><i class="ri-arrow-right-s-line"></i></span>
    </div>
  </div>
  <div class="interface__grid">
    <div class="interface__card">
      <img src="assets/images/1.png" alt="interface" />
      <div class="interface__details">
        <p class="interface__title">Login</p>
        <p class="interface__subtitle">LOGIN</p>
      </div>
    </div>
    <div class="interface__card">
      <img src="assets/images/3.png" alt="interface" />
      <div class="interface__details">
        <p class="interface__title">Home</p>
        <p class="interface__subtitle">SEARCH</p>
      </div>
    </div>
    <div class="interface__card">
      <img src="assets/images/4.png" alt="interface" />
      <div class="interface__details">
        <p class="interface__title">Apply</p>
        <p class="interface__subtitle">APPLY</p>
      </div>
    </div>
    <div class="interface__card">
      <img src="assets/images/5.png" alt="interface" />
      <div class="interface__details">
        <p class="interface_title">Submit</p>
        <p class="interface__subtitle">SUBMIT</p>
      </div>
    </div>
  </div>
</section>

<section id="faculty" class="faculty">
  <div class="section__container faculty__container">
    <h2 class="section__title">The Faculty</h2>
    <p class="section__subtitle">
      Meet the Faculty Members of Gordon College, College of Computer Studies!
    </p>
    <div class="faculty__grid">
      <div class="faculty__card">
        <img src="assets/images/avatar.jpg" alt="faculty" />
        <div class="faculty__details">
          <p>Mr. Ronnie Uy</p>
          <p>Assistant Dean</p>
        </div>
      </div>
      <div class="faculty__card">
        <img src="assets/images/avatar.jpg" alt="faculty" />
        <div class="faculty__details">
          <p>Mr. Ronnie Uy</p>
          <p>Assistant Dean</p>
        </div>
      </div>
      <div class="faculty__card">
        <img src="assets/images/avatar.jpg" alt="faculty" />
        <div class="faculty__details">
          <p>Mr. Ronnie Uy</p>
          <p>Assistant Dean</p>
        </div>
      </div>
    </div>
    <div class="view__all">
      <button class="btn">View All</button>
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="section__container about__container">
    <div class="image__about">
      <div class="about__col">
        <img src="assets/images/vec1.jpg" alt="about" />
      </div>
      <div class="about__col">
        <img src="assets/images/vec2.jpg" alt="about" />
        <img src="assets/images/vec3.jpg" alt="about" />
      </div>
    </div>
    <div class="about__content">
      <div>
        <h2 class="section__title">
          About Us!
        </h2>
        <p class="section__subtitle">
          MyIntern is designed to help the students of Gordon College CCS look for OJT oppotunites. It also provides efficient applying, monitoring and many more!
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="section__container footer__container">
    <div class="footer__col">
      <h3>MyIntern<span>.</span></h3>
      <p>
        Your Gateway to OJT Opportunities
      </p>
    </div>
    <div class="footer__col">
      <h4>Follow Us</h4>
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Twitter</p>
      <p>TikTok</p>
    </div>
    <div class="footer__col">
      <h4>Address</h4>
      <p>
        <span>Address:</span> Olongapo City Sports Complex, Gordon College,Philippine, Lungsod ng Olongapo, Zambales
      </p>
      <p><span>Email:</span> info&#64;pathway.com</p>
      <p><span>Phone:</span> +639123456789</p>
    </div>
  </div>
  <div class="footer__bar">
    Copyright © 2024 MyIntern. All rights reserved.
  </div>
</footer>



