:root {
  --primary-color: #748E63;
  --primary-color-dark: #5F734F;
  --secondary-color: #fafcff;
  --text-dark: #2E3B24;
  --text-light: #767268;
  --extra-light: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: 1400px;
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: #2E3B24;
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1rem;
  color: #2E3B24;
  max-width: calc(2500px / 2);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  background-color: #748E63;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #5F734F;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  //max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: #fafcff;
}

.nav__logo {
  font-size: 1rem;
  font-weight: 600;
  color: #2E3B24;
  cursor: pointer;
  display: flex;
  align-items: center;

  img {
    height: 50px;
    padding-right: 3px;
  }
}

.nav__logo span {
  color: #748E63;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  position: relative;
  padding: 0 1rem;
  color: #2E3B24;
  text-decoration: none;
  transition: color 0.3s;
}

.link a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #748E63;
  transition: width 0.3s ease;
}

.link a:hover {
  color: #748E63;
}

.link a:hover::after {
  width: 100%;
}

.link a:active {
  color: #748E63; /* Optional: Change color for active link */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  background-color: #748E63;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafcff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  min-width: 160px;
}

.dropdown-content a {
  color: #2E3B24;
  padding: 1rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #748E63;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}


// HOME
header {
  background-color: #fafcff;
}

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__image {
  position: relative;
  //background-color: #fff; /* Ensure white background for images */
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 66%;
  // border: 0.5rem solid #fff;
  // border-radius: 2rem;
  // background-color: #fff; /* White background for images */
  // box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  max-width: 600px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 300px;
  transform: translate(0%, -55%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content > div {
  max-width: 500px;
  display: grid;
  gap: 1rem;
}

.header__content .sub__header {
  font-size: 1rem;
  font-weight: 600;
  color: #748E63;
}

.header__content h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 800;
  color: #2E3B24;
}

.header__content .views__num {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.views {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.view__image {
  position: relative;
}

.view__image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.view__image span {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.view__image span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.views > span {
  font-size: 1rem;
  font-weight: 600;
  color: #2E3B24;
}



/* INTERFACE SECTION */
/* Slider container */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  // margin: 4rem 0;
}

.slide-track {
  display: flex;
  gap: 2rem;
  width: calc(250px * 13); /* Adjusted width for original + duplicated slides */
  animation: scroll-left 135s linear infinite; /* Changed animation name */
  height: auto;
  padding: 20px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 40)); /* Moves through all original slides */
  }
}

/* Interface card styling */
.interface__card {
  min-width: 400px; /* Keep the card size fixed */
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interface__card:hover {
  transform: scale(1.05);
}

/* Ensure the images inside the cards scale properly */
.interface__card img {
  width: 100%; /* Make the image responsive within the card */
  height: auto; /* Maintain the aspect ratio */
}




/* PARTNER SECTION */
.partner {
  background-color: #fafcff;
  height: 727px;
}

.partner__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.partner__grid {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  // margin: 2rem 0;
}

.partner__card {
  border-radius: 1rem;
  width: 200px;
  overflow: hidden;
  margin: 25px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);

  img {
    height: 200px;
    width: 200px;
  }
}

.partner__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #2E3B24;
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
}


.partner__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


//ABOUT
.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // gap: 2rem;
  height: auto;
}

.image__about {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
}

.second_col {
  .about__col {
    margin-bottom: 20px;
  }
}

.about__col {
  display: flex;
  place-content: center;
  gap: 1rem;
  align-items: center;
  text-align: center;
  flex-direction: column;

  h3 {
    margin-bottom: -12px;
  }
}

.about__col img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  height: 200px;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about__content > div {
  max-width: 600px;
}

.about__content .section__subtitle {
  margin-bottom: 2rem;
}

// FOOTER
.footer {
  background-color: #2E3B24;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  color: #5F734F;
}

.title {
  display: flex;

  img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

  h3 {
    margin-top: 5px;
  }
}

.footer__col h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__col h3 span {
  color: #748E63;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.media i {
  margin-right: 5px;
}

.footer__col a {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: 0.3s;
  color: #748E63;
  opacity: .8;
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__bar {
  max-width: 1200px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: #5F734F;
  border-top: 1px solid #fff;
}

@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__image {
    min-height: 500px;
  }

  .interface__grid {
    gap: 1rem;
  }

  .faculty__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .interface__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .faculty__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
